/* This CSS is common to all pages */

body {
  margin: 0;
  font-family: sans-serif;
}
* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
.app {
  padding: 3rem;
}
.nav a {
  margin-right: 2rem;
}
